# Object files
*.o
*.lo
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/config.sub
/depcomp
/install-sh
/Makefile.in
/missing
/config.h.in
/ltmain.sh
/aclocal.m4
/configure
/compile
/config.guess
/autom4te.cache
/.libs
/.deps
/stamp-h1
/Makefile
/config.h
/config.log
/config.status
/libtool
/microdns.h
/microdns.pc
